<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Diabetes Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

 <style>

div { 
  height:1000px;
  overflow: auto ;
}
</style>

</head>


<body>

 <div class="login">

	<h1>Diabetes Predictor</h1>     
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="encounter_id" placeholder="encounter_id" required="required" />
    	<input type="text" name="patient_nbr" placeholder="patient_nbr" required="required" />
    	<input type="text" name="discharged_disposition_id" placeholder="discharged_disposition_id" required="required" />
        <input type="text" name="admission_type_id" placeholder="admission_type_id" required="required" />
        <input type="text" name="admission_source_id" placeholder="admission_source_id" required="required" />
		<input type="text" name="medical_specialty" placeholder="medical_specialty" required="required" />
        <input type="text" name="time_in_hospital" placeholder="time_in_hospital" required="required" />
        <input type="text" name="num_lab_procedures" placeholder="num_lab_procedures" required="required" />
        <input type="text" name="num_procedures" placeholder="num_procedures" required="required" />
        <input type="text" name="num_medications" placeholder="num_medications" required="required" />
        <input type="text" name="number_outpatient" placeholder="number_outpatient" required="required" />
        <input type="text" name="number_emergency" placeholder="number_emergency" required="required" />
        <input type="text" name="number_inpatient" placeholder="number_inpatient" required="required" />
        <input type="text" name="number_diagnoses" placeholder="number_diagnoses" required="required" />
        <input type="text" name="ageGroup" placeholder="ageGroup" required="required" />
        <input type="text" name="has_weight" placeholder="has_weight" required="required" />
        <input type="text" name="race" placeholder="race" required="required" />
        <input type="text" name="gender" placeholder="gender" required="required" />
        <input type="text" name="max_glu_serum" placeholder="max_glu_serum" required="required" />
        <input type="text" name="A1Cresult" placeholder="A1Cresult" required="required" />
        <input type="text" name="metformin" placeholder="metformin" required="required" />
        <input type="text" name="repaglinide" placeholder="repaglinide" required="required" />
        <input type="text" name="nateglinide" placeholder="nateglinide" required="required" />
        <input type="text" name="chlorpropamide" placeholder="chlorpropamide" required="required" />
        <input type="text" name="glimepiride" placeholder="glimepiride" required="required" />
        <input type="text" name="acetohexamide" placeholder="acetohexamide" required="required" />
        <input type="text" name="glipizide" placeholder="glipizide" required="required" />
        <input type="text" name="glyburide" placeholder="glyburide" required="required" />
        <input type="text" name="tolbutamide" placeholder="tolbutamide" required="required" />
        <input type="text" name="pioglitazone" placeholder="pioglitazone" required="required" />
        <input type="text" name="rosiglitazone" placeholder="rosiglitazone" required="required" />
        <input type="text" name="acarbose" placeholder="acarbose" required="required" />
        <input type="text" name="miglitol" placeholder="miglitol" required="required" />
        <input type="text" name="troglitazone" placeholder="troglitazone" required="required" />
        <input type="text" name="tolazamide" placeholder="tolazamide" required="required" />
        <input type="text" name="examide" placeholder="examide" required="required" />
        <input type="text" name="citoglipton" placeholder="citoglipton" required="required" />
        <input type="text" name="insulin" placeholder="insulin" required="required" />
        <input type="text" name="glyburide_metformin" placeholder="glyburide_metformin" required="required" />
        <input type="text" name="glipizide_metformin" placeholder="glipizide_metformin" required="required" />
        <input type="text" name="glimepiride_pioglitazone" placeholder=" glimepiride_pioglitazone" required="required" />
        <input type="text" name="metformin_rosiglitazone" placeholder="metformin_rosiglitazone" required="required" />
        <input type="text" name="metformin_pioglitazone" placeholder="metformin_pioglitazone" required="required" />
        <input type="text" name="change" placeholder="change" required="required" />
        <input type="text" name="diabetesMed" placeholder="diabetesMed" required="required" />
 

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ Submit }}

 </div>



</body>
</html>